@import "tailwindcss";

/* Ini adalah pengganti tailwind.config.js di Tailwind v4 */
@theme {
  --color-background: #0a0a0a;
  --color-surface: #171717;
  --color-primary: #3b82f6;
  --color-accent: #10b981;
  --color-danger: #ef4444;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: #f3f4f6; /* text-gray-100 */
}